<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834963620340-plvujkgh8prnacq4mb9ithhood7bsjts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834963620340-plvujkgh8prnacq4mb9ithhood7bsjts</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834963620340-bue9sd2lhbvpce6emm14iarigdb2e2k7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCK-kJ2QnIx4hYtufvmvL7Tvvkh0WuCsCc</string>
	<key>GCM_SENDER_ID</key>
	<string>834963620340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>health-ai-66455</string>
	<key>STORAGE_BUCKET</key>
	<string>health-ai-66455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834963620340:ios:1f293dd2ec9d86b584f9a1</string>
</dict>
</plist>